.navbar {
    background-color: white;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #dedede
  }

.logo {
    color: var(--accent);
    font-size: 1.5rem;
  }

.user-tools {
    font-size: 0.6875rem;
    font-weight: 300;
}