:root {
  --header-bg: #417690;
  --breadcrumb-bg: #264b5d;
  --accent: #f5dd5d;
  --link-fg: #417893;
  --hairline-color: #e8e8e8;
  --header-color: #ffc;
  --darkened-bg: #f8f8f8;
  --darkened-bg-2: #e4e4e4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(to bottom, var(--darkened-bg), var(--darkened-bg-2)); */
  background: white;
  color: black;
}
